<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="reactApp"></div>
    <p>Express site</p>
  </body>
</html>
